<div class="ui-g ui-fluid">
    <form [formGroup]="form">
        <div class="ui-g-12" [style]="{margin: '5px'}">
            <span class="p-float-label">
                <input id="rfid" type="text" formControlName="rfid" pInputText>
                <label for="rfid">RFID</label>
            </span>
            <button pButton label="Buscar" (click)="search()"></button>
        </div>
        <div *ngIf="userFound != null" class="ui-g-12" [style]="{margin: '5px'}">
            <span class="p-float-label">
                <h3>Usuário: {{userFound.name}} - CPF: {{userFound.cpf}}</h3>
            </span>
            <button pButton label="confirmar" (click)="finishCoffeeSale()"></button>
        </div>
    </form>
</div>
