<p-card header="Entrada de Produto">
    <form>
        <div>
            <p>Buscar por Código de barras</p>
            <input type="text" pInputText [(ngModel)]="barCode" [ngModelOptions]="{standalone: true}">
            <p-button icon="pi pi-search" (click)="findByBarCode()"></p-button>
        </div>
    </form>
    <p-table [columns]="cols" [value]="products">
        <ng-template pTemplate="header" let-columns>
            <tr class="listProducts">
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>Quantidade em estoque</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="listProducts">
                <td *ngFor="let col of columns">
                    <img *ngIf="col.field == 'image'" [src]="rowData[col.field]" class="product-image">
                    <span *ngIf="col.field !== 'image'">{{rowData[col.field]}}</span>
                </td>
                <td>
                    <p *ngIf="rowData.inventoryAmount == null">{{rowData.inventoryWeight}} Kg</p>
                    <p *ngIf="rowData.inventoryWeight == null">{{rowData.inventoryAmount}} Un</p>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <h3>Quantidade a ser adicionada em estoque:</h3>

    <div class="card">
        <input type="number" pInputText [(ngModel)]="addAmount">
    </div>

    <p-button label="Salvar Entrada" (click)="handleSubmitForm()"></p-button>

<!--    <h3>Digite o IP da balança:</h3>-->
<!--    <div class="card">-->
<!--        <input type="text" pInputText [(ngModel)]="weighingScale">-->
<!--    </div>-->
<!--    <p-button label="Salvar IP da balança" (click)="saveWeighingScaleIP()"></p-button>-->
</p-card>

