<p-card header="Novo Produto">
    <form [formGroup]="productEntryForm">
        <div>
            <p>Buscar por Código de barras</p>
            <input type="text" pInputText formControlName="barCode">
            <p-button icon="pi pi-search" (click)="findByBarCode()"></p-button>
        </div>
    </form>
    <p-table [columns]="cols" [value]="products">
        <ng-template pTemplate="header" let-columns>
            <tr class="listProducts">
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="listProducts">
                <td *ngFor="let col of columns">
                    <img *ngIf="col.field == 'image'" [src]="rowData[col.field]" class="product-image">
                    <span *ngIf="col.field !== 'image'">{{rowData[col.field]}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <h3>Quantidade</h3>

    <div class="card" [formGroup]="productEntryForm">
        <input type="text" pInputText formControlName="addAmount">
    </div>

    <p-button label="Salvar Entrada" (click)="handleSubmitForm()"></p-button>
</p-card>
