<div style="padding: 50px; display: flex; flex-direction: column">
    <div style="margin: 10px;">
        <p>Data Inicio</p>
        <p-calendar [(ngModel)]="dataInicio"></p-calendar>
    </div>
    <div style="margin: 10px;">
        <p>Data Fim</p>
        <p-calendar [(ngModel)]="dateFim"></p-calendar>
    </div>
    <input type="button" pButton value="Buscar" (click)="findAll()"/>
</div>
<p-table [columns]="cols" [value]="itens" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr class="listProducts">
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr class="listProducts">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
