<p-card header="Usuários">
    <div class="button-container">
        <button pButton type="button" label="Novo" (click)="redirectToForm()"></button>
    </div>
    <div class="ui-g-12"></div>
    <p-table [columns]="cols" [value]="itens" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
            <tr class="listProducts">
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="listProducts">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                    <button type="button" pButton label="Editar" routerLink="save" [queryParams]="{id: rowData.id}"></button>
                    <button type="button" pButton label="Deletar" (click)="delete(rowData)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
