<p-card>
    <div class="ui-g">
        <div class="ui-g-3">
            <p-dropdown [options]="convertedProducts" [(ngModel)]="produto"></p-dropdown>
        </div>
        <div class="ui-g-3">
            <input type="number" [(ngModel)]="qtd" pInputText  />
        </div>
        <div class="ui-g-2">
            <button pButton type="button" [disabled]="qtd==undefined || produto==null" class="ui-button-info" (click)="atualizaValor()">Atualizar</button>
        </div>
        <div class="ui-g-2">
            <button pButton type="button" [disabled]="qtd==undefined || produto==null" class="ui-button-info" printTitle="Print" printSectionId="print-section" ngxPrint>Imprimir</button>
        </div>
    </div>

    <div class="ui-g">
        <div style="width: 900px" style="display: flex" id="print-section" class="print">
            <div *ngIf="maisDeUmaLinha">
                <div *ngFor="let linha of qtdLinhasArray">
                    <ejs-barcodegenerator *ngIf="produto != null" #barcode id="barcode" [displayText]="displayText" style="display: inline-block; margin-left: 25px; margin-top: 10px"  #barcode height="130px" width="250px" mode="SVG" type="Codabar" [value]="produto.barCode"></ejs-barcodegenerator>
                    <ejs-barcodegenerator *ngIf="produto != null" #barcode id="barcode" [displayText]="displayText" style="display: inline-block; margin-left: 25px; margin-top: 10px"  #barcode height="130px" width="250px" mode="SVG" type="Codabar" [value]="produto.barCode"></ejs-barcodegenerator>
                    <ejs-barcodegenerator *ngIf="produto != null" #barcode id="barcode" [displayText]="displayText" style="display: inline-block; margin-left: 20px; margin-top: 10px"  #barcode height="130px" width="250px" mode="SVG" type="Codabar" [value]="produto.barCode"></ejs-barcodegenerator>
                </div>
            </div>
            <div *ngIf="qtdPrintIndividual==1">
                <ejs-barcodegenerator *ngIf="produto != null" #barcode id="barcode" [displayText]="displayText" style="display: inline-block; margin-left: 25px; margin-top: 10px"  #barcode height="130px" width="250px" mode="SVG" type="Codabar" [value]="produto.barCode"></ejs-barcodegenerator>
            </div>
            <div *ngIf="qtdPrintIndividual==2">
                <ejs-barcodegenerator *ngIf="produto != null" #barcode id="barcode" [displayText]="displayText" style="display: inline-block; margin-left: 25px; margin-top: 10px" #barcode height="130px" width="250px" mode="SVG" type="Codabar" [value]="produto.barCode"></ejs-barcodegenerator>
                <ejs-barcodegenerator *ngIf="produto != null" #barcode id="barcode" [displayText]="displayText" style="display: inline-block; margin-left: 25px; margin-top: 10px" #barcode height="130px" width="250px" mode="SVG" type="Codabar" [value]="produto.barCode"></ejs-barcodegenerator>
            </div>
            <div *ngIf="qtdPrintIndividual==0 && !maisDeUmaLinha">
                <ejs-barcodegenerator *ngIf="produto != null" #barcode id="barcode" [displayText]="displayText" style="display: inline-block; margin-left: 25px; margin-top: 10px"  #barcode height="130px" width="250px" mode="SVG" type="Codabar" [value]="produto.barCode"></ejs-barcodegenerator>
                <ejs-barcodegenerator *ngIf="produto != null" #barcode id="barcode" [displayText]="displayText" style="display: inline-block; margin-left: 25px; margin-top: 10px"  #barcode height="130px" width="250px" mode="SVG" type="Codabar" [value]="produto.barCode"></ejs-barcodegenerator>
                <ejs-barcodegenerator *ngIf="produto != null" #barcode id="barcode" [displayText]="displayText" style="display: inline-block; margin-left: 20px; margin-top: 10px"  #barcode height="130px" width="250px" mode="SVG" type="Codabar" [value]="produto.barCode"></ejs-barcodegenerator>
            </div>
        </div>
    </div>
</p-card>
